{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Firewall" %} - <small>{% trans "Mod security list" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="#" id="main_tab_1" class="active">{% trans "List" %}</a></li>
    <li><a href="/security/new/">{% trans "Add" %}</a></li>
{% endblock %}

{% block content %}
    <div id="main_content_1" class="main_content">
 	{% if k_output %}
        <div style="border: 1px dashed black; padding: 1em; margin: 3em"><code style="color: red">{{ k_output }}</code></div>
        <a href="/security/">{% trans "Click here to return to list" %}</a>
    {% else %}
        <a href="/security/update/"><img src="/img/vulture2/reload.png" alt="reload" /> - <b>{% trans "Click here to download/update security rules from modsecurity.org" %}</b></a><br /><br />
        <table>
            <tr>
                <th>{% trans "Name" %}</th>
                <th style="width: 32px"></th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td><a href="/security/{{ object.id }}/del/"><img src="/img/vulture2/trash.png" alt="delete" /></a><a href="/security/{{ object.id }}"><img src="/img/vulture2/edit.png" alt="edit" /></a></td>
                </tr>
            {% empty %}
                <tr><td colspan="2" style="text-align:center;">{% trans "The list is empty. You can add an item " %}<a href="/security/new/">{% trans "here" %}</a></td></tr>
            {% endfor %}
        </table>
	{% endif %}
    </div>
{% endblock %}