{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Application" %} - <small>{% trans "mod_jk workers list" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="#" id="main_tab_1" class="active">{% trans "List" %}</a></li>
    <li><a href="/jk/new/">{% trans "Add" %}</a></li>
{% endblock %}

{% block content %}
	<div id="main_content_1" class="main_content">
        <table>
            <tr>
                <th>{% trans "Name" %}</th>
                <th style="width: 72px;"></th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>
                        <a href="/jk/{{ object.id }}/del/"><img src="/img/vulture2/trash.png" alt="delete" /></a><a href="/jk/{{ object.id }}"><img src="/img/vulture2/edit.png" alt="edit" /></a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5" style="text-align:center;">{% trans "The list is empty. You can add an item " %}<a href="/jk/new/">{% trans "here" %}</a></td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
