{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Firewall" %} - <small>{% trans "rules set selection" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/policy/"/>{% trans "List" %}</a></li>
    {% for group in groups %}
        <li><a href="javascript:swapTab({{forloop.counter}},{{ groups|length }} , 'main_tab_', 'main_content_');" id="main_tab_{{forloop.counter}}" {% if i == 1 %}class="active"{% endif %}>{{group.nom}}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}


<script type='text/javascript'>
    function setAllBox(className,CheckValue){
        var boxes = document.getElementsByClassName(className);
        if(!boxes){
            return;
        }
        for(var i=0;i < boxes.length;i++){
            boxes[i].checked = CheckValue;
        }
    }

</script>
    <form method="post" name="form" action="">
    {% with i=0 %}
    {% for group in groups %}
    <div id="main_content_{{forloop.counter}}" class="main_content">
        <table>
            <tr><th colspan="2"><input type="submit" value="{% trans "Save settings" %}" /></th></tr>
            <tr><th>{{group.nom}}</th><th><input type="checkbox" name="file_{{fichier.pk}}" onclick="setAllBox('{{group.nom}}',this.checked)"/>{% trans "Select"%}</th></tr>
                
                {%for fichier in group.fichiers %}
                <tr>
                    <td>{{fichier.name}}</td>
                    <td>
                    <input type="checkbox" name="file_{{fichier.pk}}" class="{{group.nom}}" {% if fichier.checked %} checked="checked"{%endif%}/>
                    </td>
                </tr>
                {%endfor%}

        </table>
    </div>
    {% endfor %}
    {% endwith %}
    </form>
    <script>swapTab(1, {{ groups|length }}, 'main_tab_', 'main_content_');</script>
{% endblock %}
