{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Authentication" %} - <small>{% trans "RADIUS settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/radius/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <form method="post" id="radius" action=".">
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "Name" %}</th><td class="input">{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Host" %}</th><td class="input">{{ form.host }}{% if form.host.errors %}<div class="error">{{ form.host.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Port" %}</th><td class="input">{{ form.port }}{% if form.port.errors %}<div class="error">{{ form.port.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Secret" %}</th><td class="input">{{ form.secret }}{% if form.secret.errors %}<div class="error">{{ form.secret.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Timeout" %}</th><td class="input">{{ form.timeout }}{% if form.timeout.errors %}<div class="error">{{ form.timeout.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}"/>
        <input type="button" onclick="document.location='/radius/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}