{% extends "base.html" %}
{% load i18n %}

{% block title %}<img src="/img/winprops.png"> {% trans "Template" %}{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}{% endblock %}

{% block content %}
Available for templating : __FORM__ -- __ERRORS__ -- __IMAGE__ -- __USER__ -- __PASSWORD__<br/><br/>

<form method="post" action="." name="tpl">
<table style="padding: 0">
<tr><td class="input">{% trans "Name" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Type" %}</td><td>{{ form.type }}{% if form.type.errors %}<div class="error">{{ form.type.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Value" %}</td><td>{{ form.value }}{% if form.value.errors %}<div class="error">{{ form.value.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<br>
<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>


{% endblock %}

{% block action %}

{% endblock %}

