{% extends "base.html" %}
{% load i18n %}

{% block title %}<img src="/img/winprops.png"> {% trans "Template" %}{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}{% endblock %}

{% block content %}
<div style="text-align: center; width: 70%">
<form method="post" action="/style_tpl/{{ object.id }}/del/">
{% trans "Delete template " %} {{ object.name }} ?<br>
<br>
<input type="button" onclick="document.location='/style_tpl/'" value="{% trans "no" %}" style="width: 50px;"/> <input type="submit" value="{% trans "yes" %}" style="width: 50px;"/>
</form>
</div>
{% endblock %}

{% block action %}

{% endblock %}

