{% extends "base.html" %}
{% load i18n %}

{% block title %}<img src="/img/winprops.png"> {% trans "Translation" %}{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}{% endblock %}

{% block content %}
	<table class="list">
	<tr>
	<th>{% trans "Country" %}</th>
    <th>{% trans "Message" %}</th>
    <th>{% trans "Translation" %}</th>
	<th style="width: 32px"></th>
	</tr>
{% for object in object_list %}
	<tr><td>{{ object.country }}</td><td>{{ object.message }}</td><td>{{ object.translation }}</td><td><a href="/style_translation/{{ object.id }}/del/"><img src="/img/editdelete.png"><a href="/style_translation/{{ object.id }}"><img src="/img/edit.png"></a></tr>
{% endfor %}
	</td>
	</table>
{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
		<li><a href="/style_translation/new/">{% trans "Add" %}</a></li>
</ul>
</fieldset>
{% endblock %}
