{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "System" %} - <small>{% trans "User settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/user/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <form method="post" action="." id="user">
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "Username" %}</th><td class="input">{{ form.username }}{% if form.username.errors %}<div class="error">{{ form.username.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Password" %}</th><td class="input">{{ form.password }}{% if form.password.errors %}<div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Confirm password" %}</th><td class="input">{{ form.c_password }}{% if form.c_password.errors %}<div class="error">{{ form.c_password.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Administrator" %}</th><td class="input">{{ form.is_admin }}{% if form.is_admin.errors %}<div class="error">{{ form.is_admin.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Super Administrator" %}</th><td class="input">{{ form.is_superadmin }}{% if form.is_superadmin.errors %}<div class="error">{{ form.is_superadmin.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}"/>
        <input type="button" onclick="document.location='/user/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}