{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "System" %} - <small>{% trans "User password change" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/user/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <form method="post" action="." id="userpassword">
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "New password" %}</th><td class="input">{{ form.new_password1 }}{% if form.new_password1.errors %}<div class="error">{{ form.new_password1.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Confirm new password" %}</th><td class="input">{{ form.new_password2 }}{% if form.new_password2.errors %}<div class="error">{{ form.new_password2.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}"/>
        <input type="button" onclick="document.location='/user/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}