Source: vulture
Section: main/net
Priority: optional
Maintainer: Arnaud Desmons <arnaud.desmons@advens.fr>
Build-Depends: debhelper (>= 4.0.0), dpkg-dev, make,
 autoconf, automake, dh-make, fakeroot
Standards-Version: 3.6.1

Package: vulture
Architecture: all
Depends: openssl, libmcrypt4, sqlite, sudo, libxml2, memcached, sqlite3,
# Apache stuff
 apache2.2-common, libapache2-mod-perl2, libapache-mod-security, libapache2-mod-wsgi,
 libapache2-mod-auth-kerb, libapache2-mod-apreq2, apache2-mpm-prefork, 
# Perl stuff
 libwww-perl, libwww-mechanize-perl, libwww-mechanize-gzip-perl, libnet-ldap-perl,
 libdbi-perl, libdbd-pg-perl, libdbd-mysql-perl, libapache-session-perl, libconvert-asn1-perl,
 liburi-perl, libcrypt-cbc-perl, libdigest-sha-perl, libauthen-radius-perl,
 libcrypt-blowfish-perl, libcrypt-ssleay-perl, libperl5.14, libdata-hexdumper-perl,
 libapache-session-memcached-perl, libcrypt-openssl-aes-perl, libnet-ip-match-regexp-perl,
 libapache-ssllookup-perl, libdigest-sha1-perl, libipc-run-perl, libcache-memcached-perl,
 libstring-crc32-perl, libapache2-request-perl, libdbd-sqlite3-perl, libapache2-authenntlm-perl,
 libauthen-simple-kerberos-perl, libio-compress-perl,
# Python stuff
 python-django (>= 1.2.0), python, python-openssl, python-sqlite, python-pysqlite2,
 libapache2-mod-python, python-ldap, python-openssl, python-imaging, python-pylibmc
Description: Vulture is an HTTP reverse proxy
 Vulture is an HTTP reverse proxy. It does many security checks
 (authentication, rewriting, filtering) before proxying request
 from Internet to your web applications. With authentication
 enabled, vulture will open flows only to authenticated users.
 It also allows to your users to use only one password to access
 many different applications by learning and forwarding their
 different accounts.
