{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Web Applications" %} - <small>{% trans "Application's settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/app/">{% trans "List" %}</a></li>
    <li><a href="javascript:swapTab(1, 11, 'main_tab_', 'main_content_');" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
    <li><a href="javascript:swapTab(2, 11, 'main_tab_', 'main_content_');" id="main_tab_2">{% trans "Remote proxy" %}</a></li>
    <li><a href="javascript:swapTab(3, 11, 'main_tab_', 'main_content_');" id="main_tab_3">{% trans "SSO Forward" %}</a></li>
    <li><a href="javascript:swapTab(4, 11, 'main_tab_', 'main_content_');" id="main_tab_4">{% trans "Security" %}</a></li>
    <li><a href="javascript:swapTab(5, 11, 'main_tab_', 'main_content_');" id="main_tab_5">{% trans "SSL" %}</a></li>
    <li><a href="javascript:swapTab(6, 11, 'main_tab_', 'main_content_');" id="main_tab_6">{% trans "Headers" %}</a></li>
    <li><a href="javascript:swapTab(7, 11, 'main_tab_', 'main_content_');" id="main_tab_7">{% trans "Timeout" %}</a></li>
    <li><a href="javascript:swapTab(8, 11, 'main_tab_', 'main_content_');" id="main_tab_8">{% trans "Balancer Settings" %}</a></li>
    <li><a href="javascript:swapTab(9, 11, 'main_tab_', 'main_content_');" id="main_tab_9">{% trans "Deflate settings" %}</a></li>
    <li><a href="javascript:swapTab(10, 11, 'main_tab_', 'main_content_');" id="main_tab_10">{% trans "Cache Settings" %}</a></li>
    <li><a href="javascript:swapTab(11, 11, 'main_tab_', 'main_content_');" id="main_tab_11">{% trans "Advanced settings" %}</a></li>
    <li><a href="javascript:swapTab(12, 11, 'main_tab_', 'main_content_');" id="main_tab_12">{% trans "JK Directives" %}</a></li>
    <li><a href='http://www.vultureproject.org/documentation/configuration/configuration-des-applications-web/gestion-des-applications/' target='_blank'>{% trans "Need help ?" %}</a></td></tr></li>
{% endblock %}

{% block content %}
    <script type='text/javascript'>
        var nbheaders = {{ form.header|length }};
        
        function delRowTo(table, row) {
              var d = document.getElementById(table);
              var olddiv = document.getElementById(row);
              d.removeChild(olddiv);
        }

        (function($) {
            // we can now rely on $ within the safety of our “bodyguard” function
            $(document).ready( function() {
                $("#addrow").click(function() {
                    nbheaders++;
                    var name = 'table.' + nbheaders;
                    var tr = $('<tr>').attr('id', name);
                    
                    tr.append($('<input type="hidden">').attr('name', 'header_id-' + nbheaders).attr('value', nbheaders));
                    tr.append($('<td>').append($('<input type="text">').attr('name', 'field_desc-' + nbheaders).attr('maxlength', '128')));
                    var select  = $('<select>').attr('name', 'field_type-' + nbheaders);
                        select.append($('<option>').attr('value', 'CUSTOM').text('CUSTOM'));
                        select.append($('<option>').attr('value', 'REMOTE_ADDR').text('REMOTE_ADDR'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_I_DN').text('SSL_CLIENT_I_DN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_M_SERIAL').text('SSL_CLIENT_M_SERIAL'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN').text('SSL_CLIENT_S_DN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_V_START').text('SSL_CLIENT_V_START'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_V_END').text('SSL_CLIENT_V_END'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_C').text('SSL_CLIENT_S_DN_C'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_ST').text('SSL_CLIENT_S_DN_ST'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_Email').text('SSL_CLIENT_S_DN_Email'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_L').text('SSL_CLIENT_S_DN_L'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_O').text('SSL_CLIENT_S_DN_O'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_OU').text('SSL_CLIENT_S_DN_OU'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_CN').text('SSL_CLIENT_S_DN_CN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_T').text('SSL_CLIENT_S_DN_T'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_I').text('SSL_CLIENT_S_DN_I'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_G').text('SSL_CLIENT_S_DN_G'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_S').text('SSL_CLIENT_S_DN_S'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_D').text('SSL_CLIENT_S_DN_D'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_UID').text('SSL_CLIENT_S_DN_UID'));
                    tr.append($('<td>').append(select));
                    tr.append($('<td>').append($('<input type="text">').attr('name', 'field_value-' + nbheaders).attr('maxlength', '50')));
                    tr.append($('<td>').append($('<a href="#">').append('<img src="/img/vulture2/trash.png" alt="delete" />').click(function(){
                        $(this).closest('tr').remove();
                    })));
                    
                    $('#tbl1body').append(tr);
                });
                
                //Display input when required by select
                $(".actions tr").each(function() {
                    var tr = $(this);
                    tr.find(":input:last").hide();
                    var input = tr.find("select");
                    //Initial state
                    switch(input.attr('value')){
                        case "script":
                            __textareaIfy(tr.find(":input:last"));
                            tr.find(":input:last").show();
                            break;
                        case "message":
                        case "redirect":
                            __inputIfy(tr.find(":input:last"));
                            tr.find(":input:last").show();
                            break;
                        default:
                            tr.find(":input:last").hide().val('');
                            break;
                    }
                    //On select change
                    input.change(function(){
                        switch($(this).attr('value')){
                            case "script":
                                __textareaIfy(tr.find(":input:last"));
                                tr.find(":input:last").show();
                                break;
                            case "message":
                            case "redirect":
                                __inputIfy(tr.find(":input:last"));
                                tr.find(":input:last").show();
                                break;
                            default:
                                tr.find(":input:last").hide().val('');
                                break;
                        }
                    });
                });
                
                $('#id_MS_Activated').click(function() {
                    if ($('#id_MS_Activated').attr('checked')) {
                        $('#mod-security').show();
                    }
                    else {
                        $('#mod-security').hide();
                    }
                });
                
                $('#id_BT_activated').click(function() {
                    if ($('#id_BT_activated').attr('checked')) {
                        $('#BFP').show();
                    }
                    else {
                        $('#BFP').hide();
                    }
                });
                
                $('#id_DoS_activated').click(function() {
                    if ($('#id_DoS_activated').attr('checked')) {
                        $('#DoSP').show();
                    }
                    else {
                        $('#DoSP').hide();
                    }
                });
                
                $('#app').submit(function() {
                    $('#nbheaders').attr('value', nbheaders);
                });
            });
            
            function __textareaIfy(element) {
               var textarea = $('<textarea>')
                 .attr('cols', '20')
                 .attr('rows', '8')
                 .val($(element).val());
               for (var i=0, len=element.get(0).attributes.length; i < len; i++) {
                  if (element.get(0).attributes[i].nodeName != 'type') {
                     textarea.attr(element.get(0).attributes[i].nodeName, element.get(0).attributes[i].nodeValue);
                  }
               }

               textarea.insertBefore(element);

               $(element).remove();

            }

            function __inputIfy(element) {
               var input = $('<input>')
                 .val($(element).val());
               for (var i=0, len=element.get(0).attributes.length; i < len; i++) {
                  if (!/cols|rows|size/.test(element.get(0).attributes[i].nodeName)) {
                     input.attr(element.get(0).attributes[i].nodeName, element.get(0).attributes[i].nodeValue);
                  }
               }

               input.insertBefore(element);

               $(element).remove();
            }

        // Selector behaviour when SSO Kerberos selected
        function kerberos_update() {
            sso_init = $('#id_sso_forward option:selected').text();
            if (sso_init == 'Kerberos') {
                $('.sso_kerberos').show();
            } 
       
            var a_init = $("#id_sso_kerberos_default").attr('checked');
            if (a_init == 'checked') {
                $("#id_sso_kerberos_domain").prop('disabled',true); 
            }
 
            $("#id_sso_forward").live('change',function() {        
                var sso = $('#id_sso_forward option:selected').text();
                if (sso == 'Kerberos'){
                    $('.sso_kerberos').show();
                } else {
                    $('.sso_kerberos').hide();
                }
            });

            var tmp_sso_kerberos_domain = '';        
            $("#id_sso_kerberos_default").live('change',function() {
                var a = $(this).attr('checked');
                if (a == 'checked') {
                    $("#id_sso_kerberos_domain").prop('disabled',true);    
                    tmp_sso_kerberos_domain = $("#id_sso_kerberos_domain").val();
                    $("#id_sso_kerberos_domain").val('');    
                } else {
                    $("#id_sso_kerberos_domain").prop('disabled',false);
                    $("#id_sso_kerberos_domain").val(tmp_sso_kerberos_domain);
                }
            });
        };

        $("#main_tab_3").live('click',function() {
            kerberos_update();
        });
        
        // Behaviour when SSL Clicked
        function ssl_update() {
            ssl_init = $('#id_conf_from_intf').attr('checked');
            if(ssl_init == 'checked'){
                 $("[name*='ssl_conf-']").prop('disabled',true);
            }
            $("#id_conf_from_intf").live('change',function() {
                ssl_init = $('#id_conf_from_intf').attr('checked');
                if (ssl_init == 'checked'){
                    $("[name*='ssl_conf-']").prop('disabled',true);
                } else {
                    $("[name*='ssl_conf-']").prop('disabled',false);
                }
            });
        }
        
        $("#main_tab_5").live('click',function() {
            ssl_update();
        });        

        })(jQuery);
    </script>
    <form method="post" id="app" action=".">
        {{ form.up.as_hidden }}
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "Friendly name" %}</th><td class="input">{{ form.friendly_name }}{% if form.friendly_name.errors %}<div class="error">{{ form.friendly_name.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span></td></tr>
                <tr><th>{% trans "Internet name" %}</th><td class="input">{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span></td></tr>
                <tr><th>{% trans "Alias" %}</th><td class="input">{{ form.alias }}{% if form.alias.errors %}<div class="error">{{ form.alias.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Interface" %}</th><td class="input">{{ form.intf }}{% if form.intf.errors %}<div class="error">{{ form.intf.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span></td></tr>
                <tr><th>{% trans "Private URL" %}</th><td class="input">{{ form.url }}{% if form.url.errors %}<div class="error">{{ form.url.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span></td></tr>
                <tr><th>{% trans "Log" %}</th><td class="input">{{ form.log }}{% if form.log.errors %}<div class="error">{{ form.log.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span></td></tr>
                <tr><th>{% trans "Appearance" %}</th><td class="input">{{ form.appearance }}{% if form.appearance.errors %}<div class="error">{{ form.appearance.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>
        
        <div id="main_content_2" class="main_content">
            <table>
                <tr>
                <th>{% trans "Remote proxy" %}</th>
                <td class="input">{{ form.remote_proxy }}{% if form.remote_proxy.errors %}<div class="error">{{ form.remote_proxy.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                
                <tr><th>{% trans "Machine Certificate file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyMachineCertificateFile }}{% if form.remote_proxy_SSLProxyMachineCertificateFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyMachineCertificateFile.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                
                <tr><th>{% trans "CA Certificate file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyCACertificateFile }}{% if form.remote_proxy_SSLProxyCACertificateFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyCACertificateFile.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                                                                        
                <tr><th>{% trans "CA Revocation file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyCARevocationFile }}{% if form.remote_proxy_SSLProxyCARevocationFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyCARevocationFile.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                
                <tr><th>{% trans "Verify Remote Certificate" %}</th><td class="input">{{ form.remote_proxy_SSLProxyVerify }}{% if form.remote_proxy_SSLProxyVerify.errors %}<div class="error">{{ form.remote_proxy_SSLProxyVerify.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
        </table>
        </div>
        
        <div id="main_content_3" class="main_content">
            <table>
                <tr>
                    <th>{% trans "SSO Forward" %}</th>
                    <td class="input">{{ form.sso_forward }}{% if form.sso_forward.errors %}<div class="error">{{ form.sso_forward.errors|join:", " }}</div>{% endif %}</td><td>
                    </td>
                </tr>
               <tr class='sso_kerberos' style='display:none;'>
                    <th>{% trans "Get Realm from login ?" %}</th>
                    <td class="input">{{ form.sso_kerberos_default }}{% if form.sso_kerberos_default.errors %}<div class="error">{{ form.sso_kerberos_default.errors|join:", " }}</div>{% endif %}</td><td>
                    </td>
                </tr>
                <tr class='sso_kerberos' style='display:none;'>
                    <th>{% trans "Realm :" %}</th>
                    <td class="input">{{ form.sso_kerberos_domain }}{% if form.sso_kerberos_domain.errors %}<div class="error">{{ form.sso_kerberos_domain.errors|join:", " }}</div>{% endif %}</td><td>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Logon URL" %}</th>
                    <td class="input">{{ form.logon_url }}{% if form.logon_url.errors %}<div class="error">{{ form.logon_url.errors|join:", " }}</div>{% endif %}</td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Logout URL" %}</th>
                    <td class="input">{{ form.logout_url }}{% if form.logout_url.errors %}<div class="error">{{ form.logout_url.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "SSO Learning extern" %}</th><td class="input">{{ form.sso_learning_ext }}{% if form.sso_learning_ext.errors %}<div class="error">{{ form.sso_learning_ext.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>
        
        <div id="main_content_4" class="main_content">
            
            <table>

                <tr>
                    <th colspan="3" style="text-align:center;height:20px;">{% trans "Authentification" %}</th>
                </tr>
                <tr><td></td><td></td>
                <tr><th>{% trans "Authentication" %}</th><td class="input">{{ form.auth }}{% if form.auth.errors %}<div class="error">{{ form.auth.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Authentication url" %}</th><td class="input">{{ form.auth_url }}{% if form.auth_url.errors %}<div class="error">{{ form.auth_url.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Basic Auth" %}</th><td class="input">{{ form.auth_basic }}{% if form.auth_basic.errors %}<div class="error">{{ form.auth_basic.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Display portal" %}</th><td class="input">{{ form.display_portal }}{% if form.display_portal.errors %}<div class="error">{{ form.display_portal.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Check crsf token" %}</th><td class="input">{{ form.check_csrf }}{% if form.check_csrf.errors %}<div class="error">{{ form.check_csrf.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
            <table class="actions">
                <tr><th></th><th>{% trans "Action" %}</th><th>{% trans "Options" %}</th></tr>
                <tr><th>{% trans "Authentication server failure" %}</th><td class="input">{{ form.auth_server_failure_action }}</td><td class="input">{{ form.auth_server_failure_options }}</td></tr>
                <tr><th>{% trans "Login failed" %}</th><td class="input">{{ form.login_failed_action }}</td><td class="input">{{ form.login_failed_options }}</td></tr>
                <tr><th>{% trans "Account locked" %}</th><td class="input">{{ form.account_locked_action }}</td><td class="input">{{ form.account_locked_options }}</td></tr>
                <tr><th>{% trans "Need change password" %}</th><td class="input">{{ form.need_change_pass_action }}</td><td class="input">{{ form.need_change_pass_options }}</td></tr>
                <tr><th>{% trans "Secondary authentification server" %}</th><td class="input">{{ form.secondary_authentification_failure_action }}</td><td class="input">{{ form.secondary_authentification_failure_options }}</td></tr>

            </table>
            
            <table>
                <tr>
                    <th colspan="3" style="text-align:center;height:20px;">{% trans "ACL" %}</th>
                </tr>
                <tr><th>{% trans "ACL" %}</th><td class="input">{{ form.acl }}{% if form.acl.errors %}<div class="error">{{ form.acl.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
            <table class="actions">
                <tr><th></th><th>{% trans "Action" %}</th><th>{% trans "Options" %}</th></tr>
                <tr><th>{% trans "ACL failed" %}</th><td class="input">{{ form.acl_failed_action }}</td><td class="input">{{ form.acl_failed_options }}</td></tr>

            </table>
        
    
            <table>
                <tr>
                    <th colspan="2" style="text-align:center;height:20px;">{% trans "Mod Security" %}</th>
                </tr>
                <tr><td></td><td></td>
                <tr> 
                    <td>{% trans "configuration" %}</td>
                    <td>{{ form.security }}</td>
                </tr>
                <tr> 
                    <td>{% trans "policy" %}</td>
                    <td>{{ form.policy }}</td>
                </tr>
            </table>
        </div>
        
        <div id="main_content_5" class="main_content">
            <table>
                <tr><th>{% trans "Enable SSL ?" %}</th><td class="input">{{ form.enable_ssl }}{% if form.enable_ssl.errors %}<div class="error">{{ form.enable_ssl.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "SSL Configuration from interface" %}</th><td class="input">{{ form.conf_from_intf }}{% if form.conf_from_intf.errors %}<div class="error">{{ form.conf_from_intf.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "PEM certificat" %}</th><td class="input">{{ fssl_conf.cert }}{% if fssl_conf.cert.errors %}<div class="error">{{ fssl_conf.cert.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "PEM key" %}</th><td class="input">{{ fssl_conf.key }}{% if fssl_conf.key.errors %}<div class="error">{{ fssl_conf.key.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "PEM certification chain" %}</th><td class="input">{{ fssl_conf.ca }}{% if fssl_conf.ca.errors %}<div class="error">{{ fssl_conf.ca.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "PEM-encoded CA Certificates" %}</th><td class="input">{{ fssl_conf.cacert }}{% if fssl_conf.cacert.errors %}<div class="error">{{ fssl_conf.cacert.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "SSL options" %}</th><td class="input">{{ fssl_conf.ssl_options }}{% if fssl_conf.ssl_options.errors %}<div class="error">{{ fssl_conf.ssl_options.errors|join:", " }}</div>{% endif %}</td><td></td></tr>  
                <tr><th>{% trans "SSL protocol" %}</th><td class="input">{{ fssl_conf.ssl_protocol }}{% if fssl_conf.ssl_protocol.errors %}<div class="error">{{ fssl_conf.ssl_protocol.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "SSL cipher suite" %}</th><td class="input">{{ fssl_conf.ssl_cipher_suite }}{% if fssl_conf.ssl_cipher_suite.errors %}<div class="error">{{ fssl_conf.ssl_cipher_suite.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>


        <div id='main_content_6' class="main_content">
            <input type='hidden' name='nbheaders' value='0'><br>
            <table class="fields">
                <tbody id="tbl1body">
                    <tr>
                        <th style="width: 200px">{% trans "Header name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Value" %}</th>
                        <th style="width: 16px"><a id= "addrow" href="#"><img src="/img/vulture2/add.png" alt="add" /></a></th>
                    </tr>
                    {% for header in form.header %}
                        <tr id="table.{{forloop.counter}}">
                            <input type="hidden" name="header_id-{{forloop.counter}}" value="{{ forloop.counter }}" />
                            <input type="hidden" name="field_desc-{{forloop.counter}}" value="{{ header.name }}" />
                            <input type="hidden" name="field_type-{{forloop.counter}}" value="{{ header.type }}" />
                            <input type="hidden" name="field_value-{{forloop.counter}}" value="{{ header.value }}" />
                            <td>{{ header.name }}{% if header.name.errors %}<div class="error">{{ header.name.errors|join:", " }}</div>{% endif %}</td>
                            <td>{{ header.type }}{% if header.type.errors %}<div class="error">{{ header.type.errors|join:", " }}</div>{% endif %}</td>
                            <td>{{ header.value }}{% if header.value.errors %}<div class="error">{{ header.value.errors|join:", " }}</div>{% endif %}</td>
                            <td><a onclick="delRowTo('tbl1body','table.{{forloop.counter}}')" href="#"><img src="/img/vulture2/trash.png" alt="delete" /></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div id="main_content_7" class="main_content">
            <table>
                <tr><th>{% trans "Timeout for user session (leave blank for no timeout)" %}</th><td class="input">{{ form.timeout }}{% if form.timeout.errors %}<div class="error">{{ form.timeout.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Update user session timeout each time he does smth" %}</th><td class="input">{{ form.update_access_time }}{% if form.update_access_time.errors %}<div class="error">{{ form.update_access_time.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>
        <div id="main_content_8" class="main_content">
            <table>
                <tr><th>{% trans "Activate Balancer"%}</th><td class="input">{{ form.Balancer_Activated }}{% if form.Balancer_Activated.errors %}<div class="error">{{ form.Balancer_Activated.errors|join:", " }}</div>{% endif %}</td></tr>
                <tr><th>{% trans "Balancer Name" %}</th><td class="input">{{ form.Balancer_Name }}{% if form.Balancer_Name.errors %}<div class="error">{{ form.Balancer_Name.errors|join:", " }}</div>{% endif %}</td></tr>
                <tr><th>{% trans "Balancer Node" %}</th><td class="input">{{ form.Balancer_Node }}{% if form.Balancer_Node.errors %}<div class="error">{{ form.Balancer_Node.errors|join:", " }}</div>{% endif %}</td></tr>
                <tr><th>{% trans "Balancer Algo" %}</th><td class="input">{{ form.Balancer_Algo }}{% if form.Balancer_Algo.errors %}<div class="error">{{ form.Balancer_Algo.errors|join:", " }}</div>{% endif %}</td></tr>
                <tr><th>{% trans "Balancer Stickyness" %}</th><td class="input">{{ form.Balancer_Stickyness }}{% if form.Balancer_Stickyness.errors %}<div class="error">{{ form.Balancer_Stickyness.errors|join:", " }}</div>{% endif %}</td></tr>
             </table>
        </div>
        <div id="main_content_9" class="main_content">
            <table>
                <tr><th>{% trans "Activated" %}</th><td class="input">{{ form.deflate_activated }}{% if form.deflate_activated.errors %}<div class="error">{{ form.canonicalise_url.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Content-types" %}</th><td class="input">{{ form.deflate_types }}{% if form.deflate_types %}<div class="error">{{ form.deflate_types.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Buffer Size" %}</th><td class="input">{{ form.deflate_buf_size }}{% if form.deflate_buf_size%}<div class="error">{{ form.deflate_buf_size.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Compression level" %}</th><td class="input">{{ form.deflate_compression }}{% if form.deflate_compression %}<div class="error">{{ form.deflate_compress.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Memory level" %}</th><td class="input">{{ form.deflate_memory }}{% if form.deflate_memory %}<div class="error">{{ form.deflate_memory.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Window Size" %}</th><td class="input">{{ form.deflate_win_size }}{% if form.deflate_win_size %}<div class="error">{{ form.deflate_win_size.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>
        <div id="main_content_10" class="main_content">
            <table>
                <tr><th>{% trans "Activated" %}</th><td class="input">{{ form.cache_activated }}{% if form.cache_activated.errors %}<div class="error">{{ form.cache_activated.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Type" %}</th><td class="input">{{ form.cache_type }}{% if form.cache_type.errors %}<div class="error">{{ form.cache_type.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Disable" %}</th><td class="input">{{ form.cache_disable }}{% if form.cache_disable.errors %}<div class="error">{{ form.cache_disable.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Default Expiration Time " %}</th><td class="input">{{ form.cache_default_exptime }}{% if form.cache_default_exptime.errors %}<div class="error">{{ form.cache_default_exptime.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Ignore Cache Control" %}</th><td class="input">{{ form.cache_ignore_cache_control }}{% if form.cache_ignore_cache_control.errors %}<div class="error">{{ form.cache_ignore_cache_control.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Ignore Headers" %}</th><td class="input">{{ form.cache_ignore_headers }}{% if form.cache_ignore_headers.errors %}<div class="error">{{ form.cache_ignore_headers.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Ignore No Last Modification" %}</th><td class="input">{{ form.cache_ignore_nolastmod }}{% if form.cache_ignore_nolastmod.errors %}<div class="error">{{ form.cache_ignore_nolastmod.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Ignore QueryString" %}</th><td class="input">{{ form.cache_ignore_querystring }}{% if form.cache_ignore_querystring.errors %}<div class="error">{{ form.cache_ignore_querystring.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Ignore URL Session Identifiers" %}</th><td class="input">{{ form.cache_ignore_URLSessionIdentifiers }}{% if form.cache_ignore_URLSessionIdentifiers.errors %}<div class="error">{{ form.cache_ignore_URLSessionIdentifiers.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Last Modified Factor " %}</th><td class="input">{{ form.cache_last_modified_factor }}{% if form.cache_last_modified_factor.errors %}<div class="error">{{ form.cache_last_modified_factor.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Lock" %}</th><td class="input">{{ form.cache_lock }}{% if form.cache_lock.errors %}<div class="error">{{ form.cache_lock.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Lock Max Age" %}</th><td class="input">{{ form.cache_lock_maxage }}{% if form.cache_lock_maxage.errors %}<div class="error">{{ form.cache_lock_maxage.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Lock Path" %}</th><td class="input">{{ form.cache_lock_path }}{% if form.cache_lock_path.errors %}<div class="error">{{ form.cache_lock_path.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Max Expire" %}</th><td class="input">{{ form.cache_max_expire }}{% if form.cache_max_expire.errors %}<div class="error">{{ form.cache_max_expire.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Store No Store" %}</th><td class="input">{{ form.cache_store_no_store }}{% if form.cache_store_no_store.errors %}<div class="error">{{ form.cache_store_no_store.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Cache Store Private" %}</th><td class="input">{{ form.cache_store_private }}{% if form.cache_store_private.errors %}<div class="error">{{ form.cache_store_private.errors|join:", " }}</div>{% endif %}</td><td></td></tr>

            </table>
        </div>
        <div id="main_content_11" class="main_content">
            <table>
                <tr><th>{% trans "Canonicalise URL" %}</th><td class="input">{{ form.canonicalise_url }}{% if form.canonicalise_url.errors %}<div class="error">{{ form.canonicalise_url.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "ProxyPass directives" %}</th><td class="input">{{ form.proxypass_directives }}{% if form.proxypass_directives.errors %}<div class="error">{{ form.proxypass_directives.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
                <tr><th>{% trans "Add VirtualHost directives" %}</th><td class="input">{{ form.virtualhost_directives }}{% if form.virtualhost_directives.errors %}<div class="error">{{ form.virtualhost_directives.errors|join:", " }}</div>{% endif %}</td><td></td></tr>
            </table>
        </div>
        <div id="main_content_12" class="main_content">
            <table>
                {{fjkd}}
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}" />
        <input type="button" onclick="document.location='/app/'" value="{% trans "Cancel" %}"/>
    </form>
    <script>swapTab(1, 12, 'main_tab_', 'main_content_');</script>
{% endblock %}
