{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Applications" %} - <small>{% trans "Application's settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/app/">{% trans "List" %}</a></li>
    <li><a href="javascript:swapTab(1, 9, 'main_tab_', 'main_content_');" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
    <li><a href="javascript:swapTab(2, 9, 'main_tab_', 'main_content_');" id="main_tab_2">{% trans "Remote proxy" %}</a></li>
    <li><a href="javascript:swapTab(3, 9, 'main_tab_', 'main_content_');" id="main_tab_3">{% trans "Authentication" %}</a></li>
    <li><a href="javascript:swapTab(4, 9, 'main_tab_', 'main_content_');" id="main_tab_4">{% trans "ACL" %}</a></li>
    <li><a href="javascript:swapTab(5, 9, 'main_tab_', 'main_content_');" id="main_tab_5">{% trans "SSO Forward" %}</a></li>
    <li><a href="javascript:swapTab(6, 9, 'main_tab_', 'main_content_');" id="main_tab_6">{% trans "Mod security" %}</a></li>
    <li><a href="javascript:swapTab(7, 9, 'main_tab_', 'main_content_');" id="main_tab_7">{% trans "Headers" %}</a></li>
    <li><a href="javascript:swapTab(8, 9, 'main_tab_', 'main_content_');" id="main_tab_8">{% trans "Timeout" %}</a></li>
    <li><a href="javascript:swapTab(9, 9, 'main_tab_', 'main_content_');" id="main_tab_9">{% trans "Advanced settings" %}</a></li>
{% endblock %}

{% block content %}
    <script type='text/javascript'>
        var nbheaders = {{ form.header|length }};
        
        function delRowTo(table, row) {
              var d = document.getElementById(table);
              var olddiv = document.getElementById(row);
              d.removeChild(olddiv);
        }
        
        (function($) {
            // we can now rely on $ within the safety of our “bodyguard” function
            $(document).ready( function() {
                $("#addrow").click(function() {
                    nbheaders++;
                    var name = 'table.' + nbheaders;
                    var tr = $('<tr>').attr('id', name);
                    
                    tr.append($('<input type="hidden">').attr('name', 'header_id-' + nbheaders).attr('value', nbheaders));
                    tr.append($('<td>').append($('<input type="text">').attr('name', 'field_desc-' + nbheaders).attr('maxlength', '128')));
                    var select  = $('<select>').attr('name', 'field_type-' + nbheaders);
                        select.append($('<option>').attr('value', 'CUSTOM').text('CUSTOM'));
                        select.append($('<option>').attr('value', 'REMOTE_ADDR').text('REMOTE_ADDR'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_I_DN').text('SSL_CLIENT_I_DN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_M_SERIAL').text('SSL_CLIENT_M_SERIAL'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN').text('SSL_CLIENT_S_DN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_V_START').text('SSL_CLIENT_V_START'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_V_END').text('SSL_CLIENT_V_END'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_C').text('SSL_CLIENT_S_DN_C'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_ST').text('SSL_CLIENT_S_DN_ST'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_Email').text('SSL_CLIENT_S_DN_Email'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_L').text('SSL_CLIENT_S_DN_L'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_O').text('SSL_CLIENT_S_DN_O'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_OU').text('SSL_CLIENT_S_DN_OU'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_CN').text('SSL_CLIENT_S_DN_CN'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_T').text('SSL_CLIENT_S_DN_T'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_I').text('SSL_CLIENT_S_DN_I'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_G').text('SSL_CLIENT_S_DN_G'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_S').text('SSL_CLIENT_S_DN_S'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_D').text('SSL_CLIENT_S_DN_D'));
                        select.append($('<option>').attr('value', 'SSL_CLIENT_S_DN_UID').text('SSL_CLIENT_S_DN_UID'));
                    tr.append($('<td>').append(select));
                    tr.append($('<td>').append($('<input type="text">').attr('name', 'field_value-' + nbheaders).attr('maxlength', '50')));
                    tr.append($('<td>').append($('<a href="#">').append('<img src="/img/vulture2/trash.png" alt="delete" />').click(function(){
                        $(this).closest('tr').remove();
                    })));
                    
                    $('#tbl1body').append(tr);
                });
                
                //Display input when required by select
                $(".actions tr").each(function() {
                    var tr = $(this);
                    tr.find(":input:last").hide();
                    var input = tr.find("select");
                    //Initial state
                    switch(input.attr('value')){
                        case "script":
                            __textareaIfy(tr.find(":input:last"));
                            tr.find(":input:last").show();
                            break;
                        case "message":
                        case "redirect":
                            __inputIfy(tr.find(":input:last"));
                            tr.find(":input:last").show();
                            break;
                        default:
                            tr.find(":input:last").hide().val('');
                            break;
                    }
                    //On select change
                    input.change(function(){
                        switch($(this).attr('value')){
                            case "script":
                                __textareaIfy(tr.find(":input:last"));
                                tr.find(":input:last").show();
                                break;
                            case "message":
                            case "redirect":
                                __inputIfy(tr.find(":input:last"));
                                tr.find(":input:last").show();
                                break;
                            default:
                                tr.find(":input:last").hide().val('');
                                break;
                        }
                    });
                });
                
                $('#app').submit(function() {
                    $('#nbheaders').attr('value', nbheaders);
                });
            });
            
            function __textareaIfy(element) {
               var textarea = $('<textarea>')
                 .attr('cols', '20')
                 .attr('rows', '8')
                 .val($(element).val());
               for (var i=0, len=element.get(0).attributes.length; i < len; i++) {
                  if (element.get(0).attributes[i].nodeName != 'type') {
                     textarea.attr(element.get(0).attributes[i].nodeName, element.get(0).attributes[i].nodeValue);
                  }
               }

               textarea.insertBefore(element);

               $(element).remove();

            }

            function __inputIfy(element) {
               var input = $('<input>')
                 .val($(element).val());
               for (var i=0, len=element.get(0).attributes.length; i < len; i++) {
                  if (!/cols|rows|size/.test(element.get(0).attributes[i].nodeName)) {
                     input.attr(element.get(0).attributes[i].nodeName, element.get(0).attributes[i].nodeValue);
                  }
               }

               input.insertBefore(element);

               $(element).remove();
            }
        })(jQuery);
    </script>
    <form method="post" id="app" action=".">
        {{ form.up.as_hidden }}
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "Internet name" %}</th><td class="input">{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Interface" %}</th><td class="input">{{ form.intf }}{% if form.intf.errors %}<div class="error">{{ form.intf.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Private URL" %}</th><td class="input">{{ form.url }}{% if form.url.errors %}<div class="error">{{ form.url.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Log" %}</th><td class="input">{{ form.log }}{% if form.log.errors %}<div class="error">{{ form.log.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Appearance" %}</th><td class="input">{{ form.appearance }}{% if form.appearance.errors %}<div class="error">{{ form.appearance.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_2" class="main_content">
            <table>
                <tr><th>{% trans "Remote proxy" %}</th><td class="input">{{ form.remote_proxy }}{% if form.remote_proxy.errors %}<div class="error">{{ form.remote_proxy.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Machine Certificate file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyMachineCertificateFile }}{% if form.remote_proxy_SSLProxyMachineCertificateFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyMachineCertificateFile.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "CA Certificate file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyCACertificateFile }}{% if form.remote_proxy_SSLProxyCACertificateFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyCACertificateFile.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "CA Revocation file (full path)" %}</th><td class="input">{{ form.remote_proxy_SSLProxyCARevocationFile }}{% if form.remote_proxy_SSLProxyCARevocationFile.errors %}<div class="error">{{ form.remote_proxy_SSLProxyCARevocationFile.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Verify Remote Certificate" %}</th><td class="input">{{ form.remote_proxy_SSLProxyVerify }}{% if form.remote_proxy_SSLProxyVerify.errors %}<div class="error">{{ form.remote_proxy_SSLProxyVerify.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_3" class="main_content">
            <table>
                <tr><th>{% trans "Authentication" %}</th><td class="input">{{ form.auth }}{% if form.auth.errors %}<div class="error">{{ form.auth.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Basic Auth" %}</th><td class="input">{{ form.auth_basic }}{% if form.auth_basic.errors %}<div class="error">{{ form.auth_basic.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Display portal" %}</th><td class="input">{{ form.display_portal }}{% if form.display_portal.errors %}<div class="error">{{ form.display_portal.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
            <table class="actions">
                <tr><th></th><th>{% trans "Action" %}</th><th>{% trans "Options" %}</th></tr>
                <tr><th>{% trans "Login failed" %}</th><td class="input">{{ form.login_failed_action }}</td><td class="input">{{ form.login_failed_options }}</td></tr>
                <tr><th>{% trans "Need change password" %}</th><td class="input">{{ form.need_change_pass_action }}</td><td class="input">{{ form.need_change_pass_options }}</td></tr>
            </table>
        </div>
        
        <div id="main_content_4" class="main_content">
            <table>
                <tr><th>{% trans "ACL" %}</th><td class="input">{{ form.acl }}{% if form.acl.errors %}<div class="error">{{ form.acl.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
            <table class="actions">
                <tr><th></th><th>{% trans "Action" %}</th><th>{% trans "Options" %}</th></tr>
                <tr><th>{% trans "ACL failed" %}</th><td class="input">{{ form.acl_failed_action }}</td><td class="input">{{ form.acl_failed_options }}</td></tr>
            </table>
        </div>
        
        <div id="main_content_5" class="main_content">
            <table>
                <tr><th>{% trans "SSO Forward" %}</th><td class="input">{{ form.sso_forward }}{% if form.sso_forward.errors %}<div class="error">{{ form.sso_forward.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Logon URL" %}</th><td class="input">{{ form.logon_url }}{% if form.logon_url.errors %}<div class="error">{{ form.logon_url.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Logout URL" %}</th><td class="input">{{ form.logout_url }}{% if form.logout_url.errors %}<div class="error">{{ form.logout_url.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_6" class="main_content">
            <table>
                <tr><th>{% trans "Mod security" %}</th><td class="input">{{ form.security }}{% if form.security.errors %}<div class="error">{{ form.security.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id='main_content_7' class="main_content">
            <input type='hidden' name='nbheaders' value='0'><br>
            <table class="fields">
                <tbody id="tbl1body">
                    <tr>
                        <th style="width: 200px">{% trans "Header name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Value" %}</th>
                        <th style="width: 16px"><a id= "addrow" href="#"><img src="/img/vulture2/add.png" alt="add" /></a></th>
                    </tr>
                    {% for header in form.header %}
                        <tr id="table.{{forloop.counter}}">
                            <input type="hidden" name="header_id-{{forloop.counter}}" value="{{ forloop.counter }}" />
                            <input type="hidden" name="field_desc-{{forloop.counter}}" value="{{ header.name }}" />
                            <input type="hidden" name="field_type-{{forloop.counter}}" value="{{ header.type }}" />
                            <input type="hidden" name="field_value-{{forloop.counter}}" value="{{ header.value }}" />
                            <td>{{ header.name }}{% if header.name.errors %}<div class="error">{{ header.name.errors|join:", " }}</div>{% endif %}</td>
                            <td>{{ header.type }}{% if header.type.errors %}<div class="error">{{ header.type.errors|join:", " }}</div>{% endif %}</td>
                            <td>{{ header.value }}{% if header.value.errors %}<div class="error">{{ header.value.errors|join:", " }}</div>{% endif %}</td>
                            <td><a onclick="delRowTo('tbl1body','table.{{forloop.counter}}')" href="#"><img src="/img/vulture2/trash.png" alt="delete" /></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div id="main_content_8" class="main_content">
            <table>
                <tr><th>{% trans "Timeout for user session (leave blank for no timeout)" %}</th><td class="input">{{ form.timeout }}{% if form.timeout.errors %}<div class="error">{{ form.timeout.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Update user session timeout each time he does smth" %}</th><td class="input">{{ form.update_access_time }}{% if form.update_access_time.errors %}<div class="error">{{ form.update_access_time.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_9" class="main_content">
            <table>
                <tr><th>{% trans "Canonicalise URL" %}</th><td class="input">{{ form.canonicalise_url }}{% if form.canonicalise_url.errors %}<div class="error">{{ form.canonicalise_url.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Add VirtualHost directives" %}</th><td class="input">{{ form.virtualhost_directives }}{% if form.virtualhost_directives.errors %}<div class="error">{{ form.virtualhost_directives.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}" />
        <input type="button" onclick="document.location='/app/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}