{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "System" %} - <small>{% trans "Vulture cluster management" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="javascript:swapTab(1, 2, 'main_tab_', 'main_content_');" id="main_tab_1" class="active">{% trans "List" %}</a></li>
    <li><a href="javascript:swapTab(2, 2, 'main_tab_', 'main_content_');" id="main_tab_2" class="">{% trans "Manage" %}</a></li>
{% endblock %}

{% block content %}
	<div id="main_content_1" class="main_content">
        <table>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Config version" %}</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.version }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
	<div id="main_content_2" class="main_content">
	<table>
            <tr>
	        <th>{% trans "Last configuration : "%}[{{ last_version}}]</th>
                <td>
			<form method="POST" action="">
				<input type="submit" value="{% trans "Update" %}"/>
				<input name="version" type="hidden" value="{{ next_version }}"/>
			</form>
		</td>
	    <tr>
	</table>
	</div>	
{% endblock %}
