{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "System" %} - <small>{% trans "Rule Set view" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/group/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}

    <div id="main_content_1" class="main_content">
    <form method="post" name="form1">
{% if up %}
    <h2> <img src="/img/vulture2/info.png" /> Une nouvelle version de la rule set {{groupe.name}} a été téléchargé. La nouvelle rule set est diponible en version {{groupe.version}}</h2>
    <h3> <img src="/img/vulture2/warning.png" /> Attention ! La mise à jour d'une rule set peut entrainer une perte de compatibilité avec l'application web. <br />en cas de problème, il suffit de remettre l'ancienne version du groupe </h3>
{% endif %}
    <input type="hidden" name="necessay" value"for post"/>
    <table>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Date</th>
            <th>Source</th>
        </tr>
        <tr>
            <td>{{groupe.name}}</td>
            <td>{{groupe.version}}</td>
            <td>{{groupe.date}}</td>
            <td><div>{{groupe.url}}{%if groupe.url %}<input type="submit" value"{% trans "update" %}"><img src="/img/vulture2/reload.png" alt="reload" title="Mettre a jour ModSecurity" /></input></div>
{%endif%}</td>
        </tr>
    </table>
    </form>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        {%for fichier in groupe.fichier_set.all%}
        <tr>
            <td>{{fichier.name}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
