{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<img src="/img/unused-security-keys.png"> {% trans "Kerberos authentication" %}
{% endblock %}

{% block display_auth_menu %}{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}none{% endblock %}

{% block content %}
	<table class="list">
	<tr>
	<th>{% trans "Name" %}</th>
    <th>{% trans "Realm" %}</th>
	<th style="width: 32px"></th>
	</tr>
{% for object in object_list %}
	<tr><td>{{ object.name }}</td><td>{{ object.realm }}</td><td><a href="/kerberos/{{ object.id }}/del/"><img src="/img/editdelete.png"><a href="/kerberos/{{ object.id }}"><img src="/img/edit.png"></a></tr>
{% endfor %}
	</td>
	</table>
{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
		<li><a href="/kerberos/new/">{% trans "Add" %}</a></li>
</ul>
</fieldset>
{% endblock %}
