{% extends "base.html" %}
{% load i18n %}

{% block title %}<img src="/img/winprops.png"> {% trans "Style" %}{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}{% endblock %}

{% block content %}

<form method="post" action="." name="style">
<table style="padding: 0">
<tr><td class="input">{% trans "Name" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "CSS" %} ({% trans "Optional" %})</td><td>{{ form.css }}{% if form.css.errors %}<div class="error">{{ form.css.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "TPL" %}</td><td>{{ form.tpl }}{% if form.tpl.errors %}<div class="error">{{ form.tpl.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Image" %} ({% trans "Optional" %})</td><td>{{ form.image }}{% if form.image.errors %}<div class="error">{{ form.image.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<br>
<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>



{% endblock %}

{% block action %}

{% endblock %}

