Source: vulture
Section: main/net
Priority: optional
Maintainer: Arnaud Desmons <arnaud.desmons@advens.fr>
Build-Depends: debhelper (>= 4.0.0), dpkg-dev, file, libxml2-dev, gcc, g++, libc6-dev, make, patch, perl, autoconf, automake, dh-make, debhelper, devscripts, fakeroot, gnupg, xutils, pbuilder, libperl-dev, sqlite, libapache2-mod-perl2, libapache2-mod-perl2-dev, libdbi-perl, apache2-prefork-dev, libcache-memcached-perl, libdb4.8
Standards-Version: 3.6.1

Package: vulture
Architecture: i386 
Depends: libapache2-request-perl, libdbd-sqlite3-perl, libapache2-mod-apreq2, openssl, apache2-mpm-prefork, apache2.2-common, libwww-perl, libwww-mechanize-perl, libwww-mechanize-gzip-perl, libnet-ldap-perl, libdbi-perl, libdbd-pg-perl, libdbd-mysql-perl, libapache-session-perl, libconvert-asn1-perl, liburi-perl, libcrypt-cbc-perl, libmcrypt4, libdigest-sha1-perl, libauthen-radius-perl, libcrypt-blowfish-perl, libcrypt-ssleay-perl, sqlite, libperl5.10, sudo, libapache2-mod-perl2, libxml2, libipc-run-perl, memcached, libcache-memcached-perl, libstring-crc32-perl, sqlite3, python-django (>= 1.2.0), python, python-pyopenssl, python-sqlite, python-pysqlite2, libapache2-mod-python, python-ldap, python-openssl, libapache2-mod-wsgi, libapache2-mod-auth-kerb, libapache2-authenntlm-perl, libauthen-simple-kerberos-perl, python-imaging, libio-compress-perl, python-pylibmc, libdata-hexdumper-perl, libapache-mod-security
Description: Vulture is an HTTP reverse proxy
 Vulture is an HTTP reverse proxy. It does many security checks
 (authentication, rewriting, filtering) before proxying request
 from Internet to your web applications. With authentication
 enabled, vulture will open flows only to authenticated users.
 It also allows to your users to use only one password to access
 many different applications by learning and forwarding their
 different accounts.
