{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<img src="/img/winprops.png">{% trans "Application" %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}
{% block display_style_menu %}none{% endblock %}

{% block content %}
<script>
	function ajax(authid) {
		var targetNode = dojo.byId("ajax");
		var urle = "/ajax/"+authid+"/{{ object_id }}"
		dojo.xhrGet( {  
			url: urle, 
			// handleAs: "text",
			timeout: 5000, 

			load: function(response, ioArgs) {
			targetNode.innerHTML = response;  
			return response; 
			},

			error: function(response, ioArgs) { 
			console.error("HTTP status code: ", ioArgs.xhr.status);
			targetNode.innerHTML = "Pas d ACL possible";
			//response;
			return response; 
			}
		});
	}
	function valid()
	{
		var dl = document.getElementById("usersok");
		var lis = dl.getElementsByTagName("div");
		var members = "";
		for(var x=0; x<lis.length; x++){
			members += lis[x].id;
			members += ";";
		}
	var result = document.getElementById("usermembers");
	result.value=members;
		var dl = document.getElementById("groupsok");
		var lis = dl.getElementsByTagName("div");
		var members = "";
		for(var x=0; x<lis.length; x++){
			members += lis[x].id;
			members += ";";
		}
	var result = document.getElementById("groupmembers");
	result.value=members;
		}
</script>

<form method="post" id="app" action="." name="edit_app">
<table>
    <tr><td class="input">{% trans "Description" %} ({% trans "optional" %})</td><td>{{ form.desc }}{% if form.desc.errors %}<div class="error">{{ form.desc.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Internet name" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Alias" %} ({% trans "optional" %})</td><td>{{ form.alias }}{% if form.alias.errors %}<div class="error">{{ form.alias.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Interface" %}</td><td>{{ form.intf }}{% if form.intf.errors %}<div class="error">{{ form.intf.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Private URL" %}</td><td>{{ form.url }}{% if form.url.errors %}<div class="error">{{ form.url.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Log" %}</td><td>{{ form.log }}{% if form.log.errors %}<div class="error">{{ form.log.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Authentication" %} ({% trans "optional" %})</td><td>{{ form.auth }}{% if form.auth.errors %}<div class="error">{{ form.auth.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Basic Auth" %} ({% trans "optional" %})</td><td>{{ form.auth_basic }}{% if form.auth_basic.errors %}<div class="error">{{ form.auth_basic.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "ACL" %} ({% trans "optional" %})</td><td>{{ form.acl }}{% if form.acl.errors %}<div class="error">{{ form.acl.errors|join:", " }}</div>{% endif %}</td></tr>
    <!--<tr><td class="input">{% trans "Timeout" %} ({% trans "optional" %})</td><td>{{ form.timeout }}{% if form.timeout.errors %}<div class="error">{{ form.timeout.errors|join:", " }}</div>{% endif %}</td></tr>-->
    <tr><td class="input">{% trans "Display portal" %} ({% trans "optional" %})</td><td>{{ form.display_portal }}{% if form.display_portal.errors %}<div class="error">{{ form.display_portal.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Style" %} ({% trans "optional" %})</td><td>{{ form.style }}{% if form.style.errors %}<div class="error">{{ form.style.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Canonicalise URL" %} ({% trans "optional" %})</td><td>{{ form.canonicalise_url }}{% if form.canonicalise_url.errors %}<div class="error">{{ form.canonicalise_url.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Timeout for user session (leave blank for no timeout)" %} ({% trans "optional" %})</td><td>{{ form.timeout }}{% if form.timeout.errors %}<div class="error">{{ form.timeout.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Update user session timeout each time he does smth" %} ({% trans "optional" %})</td><td>{{ form.update_access_time }}{% if form.update_access_time.errors %}<div class="error">{{ form.update_access_time.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Add VirtualHost directives" %} ({% trans "optional" %})</td><td>{{ form.virtualhost_directives }}{% if form.virtualhost_directives.errors %}<div class="error">{{ form.virtualhost_directives.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr></td><td>{{ form.up.as_hidden }}</div></td></tr>
</table>

<div id="sso_forward">
    <table>
        <tr><td class="input">{% trans "SSO Forward" %}</td><td>{{ form.sso_forward }}{% if form.sso_forward.errors %}<div class="error">{{ form.sso_forward.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Logon URL" %}</td><td>{{ form.logon_url }}{% if form.logon_url.errors %}<div class="error">{{ form.logon_url.errors|join:", " }}</div>{% endif %}</td></tr>
    <tr><td class="input">{% trans "Logout URL" %}</td><td>{{ form.logout_url }}{% if form.logout_url.errors %}<div class="error">{{ form.logout_url.errors|join:", " }}</div>{% endif %}</td></tr>
    </table>
</div>

<div id="security" style="display: {% if not object.security %}none{% endif %}"><input type='hidden' name='have_sso_forward' value='0'>
    <table>
        <tr><td class="input">{% trans "Mod_security" %} ({% trans "optional" %})</td><td>{{ form.security }}{% if form.security.errors %}<div class="error">{{ form.security.errors|join:", " }}</div>{% endif %}</td></tr>
    </table>
</div>
        

	<!--<div id='ajax' onmouseover = "list();"></div> 

	<input name="usermembers" value="none" type="hidden" id="usermembers">
	<input name="groupmembers" value="none" type="hidden" id="groupmembers">

	<div id='rewrite' style='display: {{ enable_rewrite }}'><input type='hidden' name='have_rewrite' value='0'>
		<table border='0' class=gene>
			<tr><td class='title' >{{ form_rewrite.rewrite_values.label}}</td></tr>
			<tr><td>{{ form_rewrite.rewrite_values}}</td></tr>
		</table>
	</div>

	<div id='proxyconfig' style='display: {{enable_proxyconfig}}'><input type='hidden' name='have_proxyconfig' value='0'>
		<table border='0' class=gene>
			<tr><td class='title' >{{ form_directives.proxydirectives_values.label}}</td></tr>
			<tr><td>{{ form_directives.proxydirectives_values}}</td></tr>
		</table>
	</div>

	<div id='virtualhostconfig' style='display: {{enable_virtualhostconfig}}'><input type='hidden' name='have_virtualhostconfig' value='0'>
		<table class=gene>
			<tr><td class='title' >{{ form_vdirectives.virtualhostdirectives_values.label}}</td></tr>
			<tr><td>{{ form_vdirectives.virtualhostdirectives_values}}</td></tr>
		</table>
	</div>-->

	

	<div id='headers' style='display: {{enable_headers}}'>
		<input type='hidden' name='nbheaders' value='0'><br>
		<table id="tbl1" border='0' class=gene>
			<tbody id="tbl1body">
				<tr>
					<th style="width: 200px">{% trans "Header name" %}</th>
					<th>{% trans "Type" %}</th>
					<th>{% trans "Value" %}</th>
					<th style="width: 16px"><a href="#" onClick="addRowTo('tbl1body')"><img border=0 src="/img/dndCopy.png"></th>
				{% for header in form.header %}
				<tr id="table.{{forloop.counter}}">
                    <input type="hidden" name="header_id-{{forloop.counter}}" value="{{ forloop.counter }}" />
                    <input type="hidden" name="field_desc-{{forloop.counter}}" value="{{ header.name }}" />
                    <input type="hidden" name="field_type-{{forloop.counter}}" value="{{ header.type }}" />
                    <input type="hidden" name="field_value-{{forloop.counter}}" value="{{ header.value }}" />
					<td>{{ header.name }}{% if header.name.errors %}<div class="error">{{ header.name.errors|join:", " }}</div>{% endif %}</td>
					<td>{{ header.type }}{% if header.type.errors %}<div class="error">{{ header.type.errors|join:", " }}</div>{% endif %}</td>
					<td>{{ header.value }}{% if header.value.errors %}<div class="error">{{ header.value.errors|join:", " }}</div>{% endif %}</td>
					<td><a onclick="delRowTo('tbl1body','table.{{forloop.counter}}')" href="#"><img src="/img/editdelete.png"></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<script type='text/javascript'>
            var nbheaders = {{ form.header|length }};
			function addRowTo(table) {
                nbheaders++;
				var name = 'table.' + nbheaders;
                var d = document.getElementById(table);
                var newdiv = document.createElement('tr');
                newdiv.setAttribute('id',name);
                newdiv.innerHTML = '<input type="hidden" name="header_id-' + nbheaders +'"" value="' + nbheaders +'" />';

                var col1 = document.createElement('td');
                col1.innerHTML = '<input id="id_field_desc-' + nbheaders +'" type="text" name="field_desc-' + nbheaders +'" maxlength="128" />';
                
                var col2 = document.createElement('td');
                col2.innerHTML = '<select name="field_type-' + nbheaders +'"" id="id_field_type-' + nbheaders +'">';

                var col3 = document.createElement('td');
                col3.innerHTML = '<input id="id_field_value-' + nbheaders +'" type="text" name="field_value-' + nbheaders +'" maxlength="50" />';

                var col4 = document.createElement('td');
                col4.innerHTML = '<a onclick="delRowTo(\'tbl1body\',\'' + name +'\')" href="#"><img src="/img/editdelete.png"></a>';

                newdiv.appendChild(col1);
                newdiv.appendChild(col2);
                newdiv.appendChild(col3);
                newdiv.appendChild(col4);                 
                d.appendChild(newdiv);
                populateList('id_field_type-'+ nbheaders,['CUSTOM', 'REMOTE_ADDR', 'SSL_CLIENT_I_DN', 'SSL_CLIENT_M_SERIAL', 'SSL_CLIENT_S_DN', 'SSL_CLIENT_V_START', 'SSL_CLIENT_V_END', 'SSL_CLIENT_S_DN_C', 'SSL_CLIENT_S_DN_ST', 'SSL_CLIENT_S_DN_Email', 'SSL_CLIENT_S_DN_L', 'SSL_CLIENT_S_DN_O', 'SSL_CLIENT_S_DN_OU', 'SSL_CLIENT_S_DN_CN', 'SSL_CLIENT_S_DN_T', 'SSL_CLIENT_S_DN_I', 'SSL_CLIENT_S_DN_G', 'SSL_CLIENT_S_DN_S', 'SSL_CLIENT_S_DN_D', 'SSL_CLIENT_S_DN_UID']);
			}

            function populateList(div, array) {
                var arLen=array.length;
                for(var i=0; i<arLen; i++){
                    document.getElementById(div).options[i]=new Option(array[i], array[i]);
                }
            }

            function changeHiddenField(value) {
                var d = document.getElementById('nbheaders');
                d.setAttribute('value',value);
            }

            function delRowTo(table, row) {
                  var d = document.getElementById(table);
                  var olddiv = document.getElementById(row);
                  d.removeChild(olddiv);
            }
		</script>
	</div>


<div style="width: 75%; text-align: right"><input type="submit" onClick="changeHiddenField(nbheaders);" style="width: 100px;"/></div>
</form>

{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
	<ul>
		<!--<div id='enable_rewrite' style='display: {{disable_rewrite}}'>
			<li>
				<a onclick="document.getElementById('rewrite').style.display=''; document.getElementById('enable_rewrite').style.display='none'; document.getElementById('disable_rewrite').style.display='';document.edit_app.have_rewrite.value='1'">{% trans "Enable URL Rewriting" %}<br></a>
			</li>
		</div>
		<div id='disable_rewrite' style='display: {{enable_rewrite}}'>
			<li>
				<a onclick="document.getElementById('rewrite').style.display='none'; document.getElementById('disable_rewrite').style.display='none'; document.getElementById('enable_rewrite').style.display='';document.edit_app.have_rewrite.value='0'">{% trans "Disable URL Rewriting" %}<br></a>
			</li>
		</div>
		<div id='enable_proxyconfig' style='display: {{disable_proxyconfig}}'>
			<li>
				<a onclick="document.getElementById('proxyconfig').style.display=''; document.getElementById('enable_proxyconfig').style.display='none'; document.getElementById('disable_proxyconfig').style.display='';document.edit_app.have_proxyconfig.value='1'">{% trans "Enable Proxy rules" %}</a><br>
			</li>
		</div>
		<div id='disable_proxyconfig' style='display: {{enable_proxyconfig}}'>
			<li>
				<a onclick="document.getElementById('proxyconfig').style.display='none'; document.getElementById('disable_proxyconfig').style.display='none'; document.getElementById('enable_proxyconfig').style.display='';document.edit_app.have_proxyconfig.value='0'">{% trans "Disable Proxy rules" %}</a><br>
			</li>
		</div>
		<div id='enable_virtualhostconfig' style='display: {{disable_virtualhostconfig}}'>
			<li>
				<a onclick="document.getElementById('virtualhostconfig').style.display=''; document.getElementById('enable_virtualhostconfig').style.display='none'; document.getElementById('disable_virtualhostconfig').style.display='';document.edit_app.have_virtualhostconfig.value='1'">{% trans "Enable VirtualHost rules" %}</a><br>
			</li>
		</div>
		<div id='disable_virtualhostconfig' style='display: {{enable_virtualhostconfig}}'>
			<li>
				<a onclick="document.getElementById('virtualhostconfig').style.display='none'; document.getElementById('disable_virtualhostconfig').style.display='none'; document.getElementById('enable_virtualhostconfig').style.display='';document.edit_app.have_virtualhostconfig.value='0'">{% trans "Disable VirtualHost rules" %}</a><br>
			</li>
		</div>
		<div id='enable_acl' style='display: {{disable_acl}}'>
			<li>
				<a onclick="document.getElementById('acl').style.display=''; document.getElementById('enable_acl').style.display='none'; document.getElementById('disable_acl').style.display='';document.edit_app.is_acl.value='1'">{% trans "Enable ACL" %}</a>
			</li>
		</div>
		<div id='disable_acl' style='display: {{enable_acl}}'>
			<li>
				<a onclick="document.getElementById('acl').style.display='none'; document.getElementById('disable_acl').style.display='none'; document.getElementById('enable_acl').style.display='';document.edit_app.is_acl.value='0'">{% trans "Disable ACL" %}<br></a>
			</li>
		</div>-->
		<div id='enable_security' style='display: {% if object.security %}none{% endif %}'>
			<li>
				<a onclick="document.getElementById('security').style.display=''; document.getElementById('enable_security').style.display='none'; document.getElementById('disable_security').style.display='';document.edit_app.have_security.value='1'">{% trans "Show mod_security rules" %}<br></a>
			</li>
		</div>
		<div id='disable_security' style='display: {% if not object.security %}none{% endif %}'>
			<li>
				<a onclick="document.getElementById('security').style.display='none'; document.getElementById('disable_security').style.display='none'; document.getElementById('enable_security').style.display='';document.edit_app.have_security.value='0'">{% trans "Hide mod_security rules" %}<br></a>
			</li>
		</div>
		<div id='enable_headers' style='display: {{disable_headers}}'>
			<li>
				<a onclick="document.getElementById('headers').style.display=''; document.getElementById('enable_headers').style.display='none'; document.getElementById('disable_headers').style.display='';document.edit_app.has_headers.value='1'">{% trans "Enable HTTP Headers" %}<br></a>
			</li>
		</div>
		<div id='disable_headers' style='display: {{enable_headers}}'>
			<li>
				<a onclick="document.getElementById('headers').style.display='none'; document.getElementById('disable_headers').style.display='none'; document.getElementById('enable_headers').style.display='';document.edit_app.has_headers.value='0'">{% trans "Disable HTTP Headers" %}<br></a>
			</li>
		</div>
	</ul>
</fieldset>
{% endblock %}
