{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<img src="/img/icon-user.png"> {% trans "Plugin" %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}{% endblock %}
{% block display_style_menu %}none{% endblock %}

{% block content %}

<form method="post" id="mapuri" action="." name="edit_mapuri">
<table>
<tr><td class="input">{% trans "App" %} ({% trans "optional" %})</td><td>{{ form.app }}{% if form.app.errors %}<div class="error">{{ form.app.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "URL pattern" %}</td><td>{{ form.uri_pattern }}{% if form.uri_pattern.errors %}<div class="error">{{ form.uri_pattern.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Type" %}</td><td>{{ form.type }}{% if form.type.errors %}<div class="error">{{ form.type.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Options" %} ({% trans "optional" %})</td><td>{{ form.options }}{% if form.options.errors %}<div class="error">{{ form.options.errors|join:", " }}</div>{% endif %}</td></tr>
</table>

<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>

{% endblock %}

{% block action %}
{% endblock %}
