{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<img src="/img/icon-configuration.png"> {% trans "Delete SSO Forward" %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}{% endblock %}
{% block display_style_menu %}none{% endblock %}

{% block content %}
<div style="text-align: center; width: 70%">
<form method="post" action="/sso/{{ object.id }}/del/">
{% trans "Delete the component " %} {{ object.desc }} ?<br>
<br>
<input type="button" onclick="document.location='/sso/'" value="{% trans "no" %}" style="width: 50px;"/> <input type="submit" value="{% trans "yes" %}" style="width: 50px;"/>
</form>
</div>
{% endblock %}

{% block action %}

{% endblock %}

