{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Authentication" %} - <small>{% trans "LDAP settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/ldap/">{% trans "List" %}</a></li>
    <li><a href="javascript:swapTab(1, 4, 'main_tab_', 'main_content_');" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
    <li><a href="javascript:swapTab(2, 4, 'main_tab_', 'main_content_');" id="main_tab_2">{% trans "Connection" %}</a></li>
    <li><a href="javascript:swapTab(3, 4, 'main_tab_', 'main_content_');" id="main_tab_3">{% trans "User" %}</a></li>
    <li><a href="javascript:swapTab(4, 4, 'main_tab_', 'main_content_');" id="main_tab_4">{% trans "Group" %}</a></li>
{% endblock %}

{% block content %}
    <form method="post" id="ldap" action=".">
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "Name" %}</th><td class="input">{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Host" %}</th><td class="input">{{ form.host }}{% if form.host.errors %}<div class="error">{{ form.host.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Port" %}</th><td class="input">{{ form.port }}{% if form.port.errors %}<div class="error">{{ form.port.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Protocol" %}</th><td class="input">{{ form.protocol }}{% if form.protocol.errors %}<div class="error">{{ form.protocol.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Encryption scheme" %}</th><td class="input">{{ form.scheme }}{% if form.scheme.errors %}<div class="error">{{ form.scheme.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>    
        
        <div id="main_content_2" class="main_content">
            <table>
                <tr><th>{% trans "Connection DN" %}</th><td class="input">{{ form.dn }}{% if form.dn.errors %}<div class="error">{{ form.dn.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Connection DN associated password" %}</th><td class="input">{{ form.password }}{% if form.password.errors %}<div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Base DN" %}</th><td class="input">{{ form.base_dn }}{% if form.base_dn.errors %}<div class="error">{{ form.base_dn.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_3" class="main_content">
            <table>
                <tr><th>{% trans "User attribute" %}</td><td class="input">{{ form.user_attr }}{% if form.user_attr.errors %}<div class="error">{{ form.user_attr.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "LDAP filter for users" %}</th><td class="input">{{ form.user_filter }}{% if form.user_filter.errors %}<div class="error">{{ form.user_filter.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Searching scope for users" %}</th><td class="input">{{ form.user_scope }}{% if form.user_scope.errors %}<div class="error">{{ form.user_scope.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <!-- <tr><th><img style='width: 9px; height:9px;' src='/img/vulture2/sub.png'> {% trans "Url attribut" %}</th><td>{{ form.url_attr }}{% if form.url_attr.errors %}<div class="error">{{ form.url_attr.errors|join:", " }}</div>{% endif %}</td></tr> -->
                <tr><th>{% trans "User OU" %}</th><td class="input">{{ form.user_ou }}{% if form.user_ou.errors %}<div class="error">{{ form.user_ou.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Change password filter" %}</th><td class="input">{{ form.chpass_attr }}{% if form.chpass_attr.errors %}<div class="error">{{ form.chpass_attr.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Account locked filter" %}</th><td class="input">{{ form.user_account_locked_attr }}{% if form.user_account_locked_attr.errors %}<div class="error">{{ form.user_account_locked_attr.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        
        <div id="main_content_4" class="main_content">
            <table>
                <tr><th>{% trans "Group attribute" %}</th><td class="input">{{ form.group_attr }}{% if form.group_attr.errors %}<div class="error">{{ form.group_attr.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "LDAP filter for groups" %}</th><td class="input">{{ form.group_filter }}{% if form.group_filter.errors %}<div class="error">{{ form.group_filter.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Searching scope for groups" %}</th><td class="input">{{ form.group_scope }}{% if form.group_scope.errors %}<div class="error">{{ form.group_scope.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Group OU" %}</th><td class="input">{{ form.group_ou }}{% if form.group_ou.errors %}<div class="error">{{ form.group_ou.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Searching attribute in groups" %}</th><td class="input">{{ form.group_member }}{% if form.group_member.errors %}<div class="error">{{ form.group_member.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Searching attribute is a DN" %}</th><td class="input">{{ form.are_members_dn }}{% if form.are_members_dn.errors %}<div class="error">{{ form.are_members_dn.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}"/>
        <input type="button" onclick="document.location='/ldap/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}
