{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Applications" %} - <small>{% trans "Plugin settings" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/plugin/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <form method="post" id="plugin" action=".">
        <div id="main_content_1" class="main_content">
            <table>
                <tr><th>{% trans "URL pattern" %}</th><td class="input">{{ form.uri_pattern }}{% if form.uri_pattern.errors %}<div class="error">{{ form.uri_pattern.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Type" %}</th><td class="input">{{ form.type }}{% if form.type.errors %}<div class="error">{{ form.type.errors|join:", " }}</div>{% endif %}</td><td><span class="require">*</span><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "App" %}</th><td class="input">{{ form.app }}{% if form.app.errors %}<div class="error">{{ form.app.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
                <tr><th>{% trans "Options" %}</th><td class="input">{{ form.options }}{% if form.options.errors %}<div class="error">{{ form.options.errors|join:", " }}</div>{% endif %}</td><td><img src="/img/vulture2/agt_support.png" alt="support" class="support" /></td></tr>
            </table>
        </div>
        <br />
        <input type="submit" value="{% trans "Save settings" %}"/>
        <input type="button" onclick="document.location='/plugin/'" value="{% trans "Cancel" %}"/>
    </form>
{% endblock %}