{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<img src="/img/icon-user.png"> {% trans "Users" %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_components_menu %}none{% endblock %}

{% block content %}
	<table class="list">
	<tr>
	<th>{% trans "Login" %}</th>
	<th style="text-align: center;" nowrap>{% trans "Admin ?" %}</th>
	<th style="width: 10px;"></th>
	</tr>
{% for object in object_list %}
	<tr><td>{{ object.login }}</td><td width=1 align=center>{% if object.is_admin %}<img src="/img/icon-security-badge.png">{% endif %}</td><td width=32 nowrap><a href="/user/{{ object.id }}/del/"><img src="/img/editdelete.png"><a href="/user/{{ object.id }}"><img src="/img/edit.png"></a></tr>
{% endfor %}
	</td>
	</table>
{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
		<li><a href="/user/new/">{% trans "Add" %}</a></li>
</ul>
</fieldset>
{% endblock %}
