body {
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#222222;
    /*background-color:#636D76;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
}

body img {
    width:16px;
    height:16px;
    border:0px;
}

input {
    border:1px solid #cccccc;
    border-radius: 5px;
    padding: 2px;
}

table {
    position: relative;
    width:85%;
    padding: 4px;
    margin: auto;
}

.help {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.9em;
	background-color:#ffff00;
    font-weight:bold;
    color: #f57e00;
    padding : 6px;
    border-radius: 5px;
}

#md-table{
    padding:0px;
    width:100%;
    
}

#ms-main{
    text-align:justify;
}

#menu_box {
    color:#000000;
    float:left;
    margin-right:4px;
}
.menu_box h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:23px;
    letter-spacing:-1px;
    margin-bottom:10px;
}
.menu_box h4 small {
    color:#e3e9ec;
    font-weight:normal;
    font-size:9px;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}

.menu_area {
    border:2px solid #f57e00;
    background-color:#FFFFFF;
    padding:4px;
    border-radius: 15px 0 15px 0;
}

.menu_area ul {
    margin-left: -10px;
    padding-left: -10px;
}

.menu_area li,a {
    color:#3300FF;
    text-decoration:none;
    font-size:9px;
    font-weight:bold;
    text-transform:uppercase;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu_area li small{
    text-transform:none;
    font-size:9px;
}

#bottom {
    width:100%;
}

#action {
    float:right;
    margin-left:4px;
    border:2px solid #f57e00;
    background-color:#FFFFFF;
    padding:2px;
    border-radius: 15px 0 15px 0;
}

#action fieldset {
    border:1px solid #f57e00;
    background-color:#FFFFFF;
    border-radius: 5px 0 5px 0;
    color:#3300FF;
    text-decoration:none;
    text-align:center;
    font-size:9px;
    font-weight:bold;
    text-transform:uppercase;
}

#action legend {
    color:#000000;
}

#copyright {
    margin-top: 10px;
    margin-left: 180px;
    background-color: #F57E00;
    color: #FFFFFF;
    font-size: 12px;
    border: none;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}

.main_content {
    overflow: auto;
    background-color:#ffffff;
    padding:4px;
    border:1px solid #464c54;
    border-top-width:0px;
    border-radius: 0 5px 5px 5px;
}

.require {
    color:red;
}

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}

.main_box {
    overflow:hidden;
}

.main_box h4 {
    font-size:23px;
    color:#ffffff;
    letter-spacing:-1px;
    margin:1px;
}
.main_box h4 small {
    color:#e3e9ec;
    font-weight:normal;
    font-size:9px;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}
.main_area {
    background-color:#636d76;
    padding:4px;
    border:2px solid #f57e00;
    border-radius: 0 15px 0 15px;
}

.main_area th, td {
    padding:4px;
    font-size:10px;
    text-align:left;
    vertical-align:top;
}

.main_area th{
    background-color:#636d76;
    color:#ffffff;
    border-radius: 5px;
}

.main_area input[type=text], .main_area input[type=password], .main_area select, .main_area option, .main_area textarea {
    font-size:10px;
	width: 300px;
}

.main_area td.input{
    width: 300px;
}

ul.tabs {
    margin:0px; 
    margin-top:5px;
    padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline-block;
}
ul.tabs li a {
    background-color:#464c54;
    color:#ffebb5;
    padding:6px 14px 6px 14px;
    text-decoration:none;
    font-size:9px;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464C54;
    border-radius: 5px 5px 0 0;
    display: block;
}
ul.tabs li a:hover {
    background-color:#2f343a;
    border-color:#2f343a;
}
ul.tabs li a.active {
    background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}
.main_content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.main_content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:5px;
    padding-bottom:5px;
}
.main_content ul li a {
    text-decoration:none;
    color:#3e4346;
}
.main_content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    position:relative;
    left:4px;
    top:0px;
}
.main_content ul li:last-child {
    border-bottom:none;
}

.fields input[type=text], .fields  input[type=password], .fields  select, .fields  option, .fields  textarea {
	width: auto;
}

        
#main_content_2, #main_content_3, #main_content_4, #main_content_5, #main_content_6, #main_content_7, #main_content_8, #main_content_9{ display:none; }
#menu_content_2, #menu_content_3, #menu_content_4, #menu_content_5, #menu_content_6, #menu_content_7, #main_content_8, #main_content_9 { display:none; }
